<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "MySuperApps" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="... theme-moon-light" dir="ltr">
    <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
      <div class="flex items-center gap-4">
        <h1 class="text-lg font-bold pl-8">Potrap's Project</h1>
      </div>
      <div id="my_div">
        <.link navigate={~p"/"}>
          <button
            id="menu_item"
            class="bg-white rounded-lg text-black pr-4 pl-4 pt-2 pb-2 text-lg"
          >
            Home
          </button>
        </.link>
        <.link navigate={~p"/users"}>
          <button
            id="menu_item"
            class="bg-white rounded-lg text-black pr-4 pl-4 pt-2 pb-2 text-lg"
          >
            Users Page
          </button>
        </.link>
        <.link navigate={~p"/chatroom"}>
          <button
            id="menu_item"
            class="bg-white rounded-lg text-black pr-4 pl-4 pt-2 pb-2 text-lg"
          >
            ChatRoom
          </button>
        </.link>
        <.link navigate={~p"/posts"}>
          <button
            id="menu_item"
            class="bg-white rounded-lg text-black pr-4 pl-4 pt-2 pb-2 text-lg"
          >
            Blog
          </button>
        </.link>
      </div>
      <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end ">
        <%= if @current_user do %>
          <li class="text-[0.8125rem] leading-6" id="li_header">
            <%= @current_user.email %>
            <%= if @current_user.role_id == 1 do %>
              (superadmin)
            <% else %>
              <%= if @current_user.operator_id != nil do %>
                (operator)
              <% else %>
                <%= if @current_user.role_id != nil do %>
                  (admin)
                <% end %>
              <% end %>
            <% end %>
          </li>

          <%= if @current_user.role_id != nil or @current_user.operator_id != nil do %>
            <li>
              <.link
                href={~p"/admin"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Admin Part
              </.link>
            </li>
          <% end %>
          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <%= @inner_content %>
  </body>
</html>
